<?php
define('SUBDOMAIN','<YOUR-SUBDOMAIN>');
define('TOKEN','<YOUR-API-TOKEN>');
define('SECRET', '<YOUR-reCAPTCHA-SECRET>');
define('SITEKEY', '<YOUR-reCAPTCHA-SITEKEY>');
define('NOTE', '<YOUR-NOTE>');